<%- include('partials/_header') %>

<body>
<!-- img for header -->
  <section>
 <img class="head-picture" src="/docs/head-picture.jpg" alt="pizza">
  </section>

  <div id="checkout-container">
    <section class="order-status">
      <h2>Order Status</h2>
      <p class="status"></p>
      </section>
  </div>
  <div id="totalcontainer"></div>

  <script>renderCheckout()</script>

  <!-- Footer -->
  <section class="footer">
    <footer>
      <div class="address">
        <p>2022 Lighthouse Street, Toronto, Canada</p>
        <p>416-988-2431</p>
      </div>

      <div class="icons">
        <h4>Follow Us</h4>
        <i class="fab fa-facebook"></i>
        <i class="fab fa-twitter"></i>
        <i class="fab fa-instagram"></i>
      </div>
    </footer>
  </section>
  <script>
    $(".sendMessage").click(function () {

  $(".status").html("Your Order would be ready in: 20min");
});
  </script>
</body>
</html>
