<%- include('partials/_header') %>

<body>
  <!-- navbar -->
  <header>
    <nav>
      <ul>
        <li><img id="logo" src="https://cdn.discordapp.com/attachments/929080108004818974/930954448841342976/logo.png" alt="logo" /></li>
        <li><a href="#">Menu</a></li>
        <li><a href="#">About us</a></li>

        <li class="logout">
          <a href="#">Hi Rosetta</a><a href="#">Logout</a>
        </li>
      </ul>
    </nav>
  </header>
<!-- Navbar ending -->
  <section class="head-picture">
  </section>

  <div id="checkout-container">
    <section class="order-status">
      <h2>Order Status</h2>
      <p class="status"></p>
      </section>
     <hr>
  </div>

  <hr>
  <div id="totalcontainer"></div>

  <script>renderCheckout()</script>

  <!-- Footer -->
  <section class="footer">
    <footer>
      <div class="address">
        <p>2022 Lighthouse Street, Toronto, Canada</p>
        <p>416-988-2431</p>
      </div>

      <div class="icons">
        <h4>Follow Us</h4>
        <i class="fab fa-facebook"></i>
        <i class="fab fa-twitter"></i>
        <i class="fab fa-instagram"></i>
      </div>
    </footer>
  </section>
  <script>
    $(".sendMessage").click(function () {

  $(".status").html("Your Order would be ready in: 20min");
});
  </script>
</body>
</html>
