<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/main.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <script
      src="https://kit.fontawesome.com/21f7aaf469.js"
      crossorigin="anonymous"
    ></script>

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>

  <body>
    <header>
      <nav>
        <img src="/docs/logo.png" alt="logo" />
        <ul>
          <li><a href="#">Menu</a></li>
          <li><a href="#">About us</a></li>
          <li><a href="#">Hi name</a></li>
          <li><a href="#">Logout</a></li>
        </ul>
      </nav>
    </header>

    <main>
      <section class="aboutUs">
        <h4>Where magic tasting pizza is created</h4>
      </section>

      <section>
        <h3>Menu</h3>
      </section>

      <footer>
        <p>Address: 2022 lighthouse street, Toronto, canada</p>
        <p>contact us: 416-988-2431</p>
        <h4>Follow us on social Media</h4>
        <i class="fab fa-facebook"></i>
        <i class="fab fa-twitter"></i>
        <i class="fab fa-instagram"></i>
      </footer>
    </main>
  </body>
</html>
